{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>
{% endif %}


{% if latest_activity_list %}
    {% for activity in latest_activity_list %}
    <div class="row">
        {% if activity.is_register_possible %}
            <a href="{% url 'f5day:detail' activity.id %}">
            <div class="column">
            <div class="card">{{ activity.act_title }} </div>
            </div>
            </a>
        {% else %}
            <div class="column">
            <div class="card-disable">{{ activity.act_title }} </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    <p>No Activities.</p>
{% endif %}